@import "tailwindcss";

:root {
  --background: #F8FAFC;
  --foreground: #171717;
  --purple: #836FFF;
  --grey: #F4F6FF;
}

@theme  {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-purple: #836FFF;
  --color-grey:#F4F6FF ;
  --color-green: #10B981;
  --color-red: #EF4444;
  --color-gold: #FACC15;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #F8FAFC;
    --foreground: #171717;
    --purple: #836FFF;
    --grey: #F8FAFC;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Poppins", sans-serif;
}