@import "tailwindcss";

:root {
  --background: #F5F7F8;
  --foreground: #171717;
  --purple: #836FFF;
  --grey: #F4F6FF;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-purple: var(--color-purple);
  --color-grey: var(--color-grey);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #F5F7F8;
    --foreground: #171717;
    --purple: #836FFF;
    --grey: #F8FAFC;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Poppins", sans-serif;
}